<footer>
  
  <div class="container p-3">

      <div class="row">

        <div class="col-lg mt-3">
          <img class="mt-4" src="/img/trucksrepair.png">
        </div>

        <div class="col-lg mt-4">
          <h4 class="mt-3">Un mundo de repuestos y servicios para tu camión</h4>
        </div>

      </div>
      
        <div class="row mt-5">
          <div class="container">
            <h5>Región / Idioma actual</h5> <br>            
          </div>
        </div>

        <div class="row">
          <div class="container">
            <h6>Chile / Español (Cambiar)</h6>              
          </div>
        </div>
        
        
        <div class="row mt-3">
          <!-- <div class="col-lg"><h5>Newsletter</h5></div> -->
          <div class="col-lg">
            <h5>Ubicacion y contacto</h5>

            <button type="button" class="btn btn-lg btn-dark">Contactanos</button>        

          
          </div>

          <div class="col-lg">
            <h5>Redes sociales</h5>
            <div>
              <h5>

                <a href="https://www.facebook.com/trucksrepaircl" target="_blank">
                  <button type="button" class="btn btn-lg btn-dark"><i class="bi bi-facebook"></i></button>
                </a>                
               
                <a href="https://www.instagram.com/trucksrepair" target="_blank">
                  <button type="button" class="btn btn-lg btn-dark"><i class="bi bi-instagram"></i></button>
                </a>

                
                <a href="https://www.linkedin.com/company/106160359" target="_blank">
                  <button type="button" class="btn btn-lg btn-dark"><i class="bi bi-linkedin"></i></button>
                </a>

                <a href="https://www.youtube.com/@trucksrepaircl" target="_blank">
                  <button type="button" class="btn btn-lg btn-dark"><i class="bi bi-youtube"></i></button>
                </a>  


              </h5>
            </div>
          </div>  
        </div>        



  </div>





      <div class="py-3 text-center">
        <hr>
        <span>TrucksRepair © 2025</span>
      </div>       

</footer>